*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://newsnetwork.mayoclinic.org/n7-mcnn/7bcc9724adf7b803/uploads/2016/03/Man-running-exercising-by-lake-fitness-16x9.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

header h1{
    color: #ae0000;
    font-weight: bold;
}
header h2{
    color: #ae0000;
    font-weight: bold;
}

.container{
    border: 1px solid black;
    padding: 50px;
    background: linear-gradient(rgba(252, 249, 249, 0.482),rgba(249, 247, 247, 0.663));
    
}

header{
    background: #f5f5f5ab;
}

.arrow{
    position: absolute;
    height: 119px;
    left: 105px;
    margin: auto;
    top: 90px;
    width: 140px;
}
.calbtn{
    background-color: rgb(251, 184, 58);
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bolder;
}
.calbtn:hover{
    color: white;
}
.reset:hover{
    scale: 1.05;
}

.inp{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    border: black solid 1px;
    
}

input{
    outline: none;
    border: none;
    background-color: transparent;
outline-color: transparent;
}